.footer {
  background: linear-gradient(180deg, #1a1a1a, #0d0d0d);
  color: #bbb;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  border-radius: 10px;
}

.footer-text {
  display: inline; /* make <p> behave like inline text */
  margin: 0 0.5rem; /* add some spacing between them */
  line-height: 1.5;
}

.separator {
  margin: 0 0.5rem;
  color: #666;
}


.highlight {
  color: #e62429;
  font-weight: 600;
}
